.example1{
    font-size:40px;
    font-family:serif;
}
.example2{
    color:crimson;
    font-family:serif;
    padding-left:70px;
}
.example3{
    color:crimson;
    font-family:serif;
    padding-left:70px;
}
.example4{
    font-size:20px;
}